fastapi
uvicorn[standard]
gunicorn
python-socketio
insightface
onnxruntime
opencv-python
numpy
python-multipart
SQLAlchemy>=2.0.29
psycopg2-binary>=2.9.9
cryptography
passlib[bcrypt]==1.7.4
PyJWT==2.8.0
python-dotenv
